/* general elements */
* {
    background-color: #1e1e1e;
    color: white;
}

h1 {
    text-align: center;
}

.row {
}

.column {
    flex-direction: column;
}

.row, .column {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

button, input {
    margin: 10px;
    background-color: #323232;
}

/* specific elements */
#toolbar {
    height: 70vh;
}

#mediaDisplay {
    margin: 10px 10px 10px 200px;
    padding: 10px;
    border: 4px white solid;
    display: block;
    height: min-content;
}

#mediaDisplay td {
    padding: 6px
}
